target/
vendor/
libraries/**/composer.lock
.idea/*
*.iml
build.log
infection.log
.phpunit.cache
*/*/build
*.schema.json
!schemas/*.schema.json
runtime.configuration.json
.build/
configuration.local.json
configuration.*.local.json
/k8s/base/**
/services/*/k8s/overlays/dev/**
!/services/*/k8s/overlays/dev/kustomization.yaml
*.flac
*.profraw
*.profdata
tests_coverage.json