[package]
name = "svc-music"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
music = { path = "../../libraries/rust/music" }
rpc-support = { path = "../../libraries/rust/rpc-support" }
tokio={ version = "1.21.0", features = ["full"] }
async-trait = "0.1.57"
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
futures-core = "0.3.21"
tokio-util = { version = "0.7.3", features=["full"] }
async-std = "1.12.0"
base64 = "0.13.0"
