[package]
name = "events"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.139", features = ["derive"] }
serde_json = "1.0.78"
uuid = { version = "1.1.2", features=["v4", "serde"] }
rpc-support = { path="../rpc-support"}
tokio = { version = "1.19.2", features = ["full"] }
tracing = "0.1.35"
async-trait = "0.1.56"
platform={path="../platform"}
thiserror = "1.0.30"
async-std = "1.12.0"

[build-dependencies]
message-compiler={path= "../../../tools/message-compiler" }
