[package]
name = "music"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
rpc-support = { path="../rpc-support"}
tokio = { version = "1.21.2", features = ["full"] }
tracing = "0.1.37"
async-trait = "0.1.58"
platform={path="../platform"}
thiserror = "1.0.35"
async-std="1.12.0"

[build-dependencies]
message-compiler={path= "../../../tools/message-compiler" }
