name: commit-verifier
on: [push]
jobs:
    commit-verifier:
        runs-on: ubuntu-20.04
        steps:
            - uses: actions/checkout@v3
              with:
                fetch-depth: 0
            - uses: actions-rs/toolchain@v1
              with:
                toolchain: stable
            - uses: Swatinem/rust-cache@v1
              with:
                working-directory: tools/commit-verifier
            - working-directory: tools/commit-verifier
              run: cargo run -- ${{ github.event.pull_request.base.sha }}
